@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.block{
  border: 2px solid white;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.block:hover{
  border: 2px solid yellow;
}

.row{
  display: flex;
}

.header{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 50px;
}

.main-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}